//👉 grid-template-areas 적용해보기

//기본 (모바일: 1열)

.wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.wrap > * {
    padding: 20px;
    border: 2px solid palevioletred;
    background: rgb(235, 196, 203);
}

// 태블릿 (2열)

@media (min-width: 576px) {
    .wrap {
        grid-template-columns: 1fr 3fr;
    }

    /* header, footer 전체폭 */
    .w-header,
    .w-footer {
        grid-column: 1 / -1;
    }

    /* nav + content */
    .w-nav {
        grid-column: 1;
    }

    .w-content {
        grid-column: 2;
    }

    /* sidebar + ads */
    .w-sidebar,
    .w-ads {
        grid-column: 2;
    }
}

//PC (3열)

@media (min-width: 768px) {
    .wrap {
        grid-template-columns: 200px 1fr 200px;
    }

    /* header/footer 전체 */
    .w-header,
    .w-footer {
        grid-column: 1 / -1;
    }

    /* 3열 배치 */
    .w-nav {
        grid-column: 1;
    }

    .w-content {
        grid-column: 2;
    }

    .w-sidebar {
        grid-column: 3;
    }

    .w-ads {
        grid-column: 3;
    }
}