@media (min-width:1024px){
    body{
        max-width: 1200px;
    }
    .style-logo{float: left;}
    .style-nav{float: right;}
    .col-lg-one-fourth{
        width: 25%;
    }
    .gallery-row{
            
    display: flex;
    flex-wrap:wrap;
    }
           
}
