@use './variables' as *;

.blog-section{

    margin-top: 77px ;

    @media all and (min-width: $bp-tablet){
        margin-top: 124px;
    }

    .sec-tit{

        margin-bottom: 47px;
        text-align: center;

        @media all and (min-width: $bp-tablet){

            margin-bottom: 76px;
        }

        @media all and (min-width: $bp-pc){

            float: left;
            margin-bottom: 0;
        }
    }

    .blog-list{

        @media all and (min-width: $bp-pc){
            float: right;
            width: 74.583038869258%;
        }
    
    li{
        width:100%

        // a{
        //     display: block;
        //     position: relative;
        //     width:100%;
        //     height: 100%;
        // }
    }

    }

}