@charset "utf-8";
/*
//글자 옆 이미지 미세 조정 → vertical-align (옛날 텍스트/이미지 정렬용)
요새
아이콘 + 텍스트 한 줄 UI씀 : <span>🔥 인기</span> 살짝 어긋날 때 보정용
table 레이아웃 👉 표 안 세로 가운데 정렬 td{}
*/

// 웹폰트 css
// @import url('')

//css초기화

html, body, div, span, object, iframe, h1, h2 ,h3,h4,h5,h6,p, blockquote,pre,abbr
,address, cite, code, del,dfn, img, kbd, q, samp, small, strong, sub, sup, var,
dl,dt, dd, ol, ul, li, fildset, form, textarea, label, legend, input, table, caption,
tbody, tfoot, td, thead, th, tr, article, section, aside, footer, header, canvas,
details, figcaption, main, hgroup, menu, nav, summary, time, mark, audio, video{
    
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align: baseline;
    background-color: transparent;
}

body {
    font-family: 'Monteserrat', DrioidSans, AppleSDgothicNeo, Helvetica, sans-serif;
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section{
    display: block;
}

a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align: baseline; //텍스트(글자)와 기준선 맞춰 정렬(기본) //midde 가운데정렬-많이씀
    background-color: transparent;
    text-decoration: none;
}

img{
    vertical-align: top;
}

hr{
    display: block;
    height: 2px;
    border:0;
    margin:0;
    padding:0;

}

input, textarea {
    width: 100%; margin:0 ; padding:0; border:0;
    border-bottom: 1px solid #757575;
    color: #3f51b5;
    font-family: 'Montserrat';
    font-size:12px;
    vertical-align: top;
    border-radius:0;
    box-sizing: content-box;
    appearance: none;
}


::-moz-placeholder, ::-moz-textarea-placeholder{
    color: #3f51b5;
}

::-webkit-input-placeholder{
    
}

/*

크로스 브라우징
호환성 때문에 
-moz-파이어폭스
-webkit- 크롬사파리엣지
-ms- 인터넷익스플로러
-o- 오페라
-삼성인터넷-


*/